@font-face {
  font-family: 'Roboto-Medium';
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Roboto-Regular';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
}

@font-face {
  font-family: 'RobotoCondensed-Bold';
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff");
}

@font-face {
  font-family: 'RobotoCondensed-Regular';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/RobotoCondensed-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Dosis-Medium';
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Dosis-Medium.woff2") format("woff2"), url("../fonts/Dosis-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Dosis-Regular';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Dosis-Regular.woff2") format("woff2"), url("../fonts/Dosis-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Dosis-Light';
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Dosis-Light.woff2") format("woff2"), url("../fonts/Dosis-Light.woff") format("woff");
}

@media (min-width: 640px) {
  .container {
    padding: 0 30px;
  }
  .header__inner {
    min-height: 100px;
  }
  .logo__link {
    margin-left: 14px;
  }
  .head {
    min-height: 386px;
  }
  .top-slider__item {
    min-height: 386px;
  }
  .top-slider__title {
    font-size: 60px;
    line-height: 60px;
    padding: 50px 0 15px;
    margin: 0 auto 30px;
  }
  .top-slider__btn {
    display: block;
    margin: 0 auto 113px;
    font-size: 18px;
    background-color: #2B4074;
    color: #f9f6e5;
    border-radius: 3px;
    padding: 16px 45px;
    border: none;
    text-transform: uppercase;
    font-weight: 500;
  }
  .top-slider .slick-dots {
    bottom: 50px;
  }
  .top-slider .slick-arrow {
    width: 56px;
    height: 56px;
    border: none;
    position: absolute;
    right: 0;
    z-index: 5;
    outline: none;
  }
  .top-slider .slick-prev {
    background-color: #2B4074;
    top: calc(50% - 56px);
  }
  .top-slider .slick-next {
    background-color: #f9f6e5;
    top: 50%;
  }
  .title {
    font-size: 48px;
    line-height: 56px;
  }
  .title::after {
    width: 100px;
  }
  .services {
    padding: 24px 0 0;
  }
  .services__title {
    margin-bottom: 20px;
    padding-bottom: 0;
  }
  .services__title::after {
    display: none;
  }
  .services__descr {
    font-size: 24px;
    padding-bottom: 38px;
    margin-bottom: 31px;
    position: relative;
  }
  .services__descr::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 8px;
    background-color: #2B4074;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .services__text {
    font-size: 18px;
    line-height: 24px;
  }
  .services__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -30px;
  }
  .services__item {
    width: 50%;
  }
  .services__item:nth-child(even) {
    border-left: none;
  }
  .services__item:last-child {
    border-bottom: none;
  }
  .project {
    padding: 40px 0 20px;
  }
  .project .container {
    padding: 0px 60px;
  }
  .project__item-img {
    min-height: 460px;
    padding: 21px 24px;
  }
  .project__item-inner {
    min-height: 417px;
  }
  .project__item-link {
    font-size: 20px;
    line-height: 23px;
  }
  .team {
    padding: 46px 0 53px;
  }
  .team__title {
    margin-bottom: 40px;
  }
  .team__text {
    margin-bottom: 56px;
  }
  .team__btn {
    font-size: 20px;
  }
  .blockquots__title {
    margin-bottom: 40px;
  }
  .blockquots__slider-text {
    font-size: 32px;
    line-height: 34px;
    margin-bottom: 40px;
  }
  .footer {
    text-align: left;
    padding: 100px 0 95px;
  }
  .footer__logo {
    text-align: center;
  }
  .footer__text {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 40px;
  }
  .footer__social {
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__social__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
    min-height: 57px;
    min-width: 25%;
    border: 1px solid #7EBF84;
    border-left: none;
  }
  .footer__social__item:last-child {
    border-right: none;
  }
  .footer__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__info-col {
    min-width: 200px;
  }
  .footer__info-col:nth-child(odd) {
    margin-right: 150px;
  }
  .footer__info-col_list {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
  .logo__link {
    margin-left: 0;
  }
  .head {
    min-height: 465px;
  }
  .top-slider__item {
    min-height: 465px;
  }
  .top-slider__text {
    display: block;
    padding: 25px 0 32px;
    font-size: 18px;
    line-height: 20px;
    font-family: 'RobotoCondensed-Regular';
    font-weight: 400;
    max-width: 587px;
    margin: 0 auto;
  }
  .top-slider__title {
    padding: 87px 0 0;
  }
  .top-slider__title::after {
    display: none;
  }
  .call {
    text-align: left;
  }
  .call__box {
    max-width: 427px;
  }
  .call__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .call__text {
    margin-bottom: 0;
  }
  .services {
    padding: 50px 0 0;
  }
  .services__title {
    margin-bottom: 30px;
  }
  .services__descr {
    text-align: left;
  }
  .services__descr::after {
    margin-left: 0;
  }
  .services__text {
    text-align: left;
    margin-bottom: 27px;
  }
  .services__items {
    margin: 0 -40px;
  }
  .services__item {
    min-height: 334px;
  }
  .services__item:hover .services__item-inner {
    min-height: 288px;
  }
  .project {
    padding: 80px 0 60px;
  }
  .project .container {
    padding: 0px 53px;
  }
  .project__title {
    margin-bottom: 80px;
  }
  .project__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .project__item-img {
    min-height: 282px;
    width: 317px;
    padding: 12px 14px;
  }
  .project__item-inner {
    min-height: 256px;
  }
  .project__item-link {
    padding: 30px 0;
  }
  .team {
    padding: 40px 0 48px;
    text-align: left;
  }
  .team__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .team__images {
    margin-bottom: 0;
    width: 240px;
    height: 100%;
    margin-right: 34px;
  }
  .team__title {
    margin-bottom: 7px;
    font-size: 36px;
    line-height: 38px;
    padding-bottom: 28px;
  }
  .team__title::after {
    margin-left: 0;
  }
  .team__text {
    margin-bottom: 30px;
    font-size: 18px;
  }
  .team__btn {
    font-size: 18px;
  }
  .footer {
    padding: 115px 0 25px;
  }
  .footer__text {
    font-size: 36px;
    line-height: 36px;
  }
  .footer__social {
    margin-bottom: 70px;
  }
  .footer__social__item {
    min-height: 70px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
  }
  .top-slider__item {
    min-height: 618px;
  }
  .top-slider__title {
    padding-top: 101px;
    font-size: 84px;
    line-height: 84px;
    letter-spacing: 2px;
  }
  .top-slider .slick-dots {
    bottom: 80px;
  }
  .head {
    min-height: 618px;
  }
  .call__box {
    max-width: 470px;
  }
  .services {
    padding: 52px 0 0;
  }
  .services__title {
    margin-bottom: 60px;
  }
  .services__descr {
    padding-bottom: 46px;
    margin-bottom: 40px;
  }
  .services__text {
    margin-bottom: 32px;
    max-width: 608px;
  }
  .services__item {
    width: 25%;
    min-height: 292px;
  }
  .services__item:nth-child(2), .services__item:nth-child(6) {
    border-right: none;
  }
  .services__item:hover .services__item-inner {
    min-height: 255px;
  }
  .project__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .project__item-img {
    margin: 0 12px;
  }
  .team {
    padding: 80px 0;
  }
  .team__images {
    width: 395px;
    min-height: 380px;
    margin-right: 60px;
  }
  .team__title {
    font-size: 48px;
    line-height: 56px;
    margin-top: 11px;
    margin-bottom: 19px;
    padding-bottom: 23px;
  }
  .team__text {
    line-height: 24px;
    margin-bottom: 19px;
  }
  .team__btn {
    padding: 21px 35px;
    line-height: 18px;
  }
  .blockquots {
    padding: 90px 0 130px;
  }
  .blockquots__slider-text {
    line-height: 37px;
    margin-bottom: 45px;
  }
  .blockquots__slider-author {
    line-height: 28px;
    margin-bottom: 89px;
  }
  .footer {
    padding: 160px 0 85px;
  }
  .footer__text {
    margin-bottom: 80px;
  }
  .footer__social {
    margin-bottom: 57px;
  }
  .footer__info {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__info-col:nth-child(odd) {
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
  .menu__btn {
    margin-right: 90px;
  }
  .head {
    min-height: 668px;
  }
  .top-slider__item {
    min-height: 668px;
  }
  .top-slider__title {
    font-size: 96px;
    line-height: 96px;
    padding-top: 107px;
  }
  .top-slider__text {
    font-size: 24px;
    line-height: 26px;
    max-width: 886px;
  }
  .top-slider .slick-arrow {
    width: 70px;
    height: 70px;
  }
  .top-slider .slick-prev {
    top: calc(50% - 70px);
  }
  .top-slider .slick-next {
    top: 50%;
  }
  .call__inner {
    padding: 0 80px;
  }
  .call__box {
    max-width: 540px;
  }
  .services {
    padding: 0;
  }
  .services .container {
    max-width: 1440px;
    padding: 0;
  }
  .services__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .services__head {
    min-width: 351px;
    margin-right: 102px;
    margin-left: 62px;
  }
  .services__title {
    margin: 90px 0 70px;
    text-align: left;
  }
  .services__descr {
    padding-bottom: 38px;
    margin-bottom: 35px;
  }
  .services__items {
    margin: 0;
  }
  .services__item {
    width: 230px;
    height: 292px;
  }
  .services__item:hover .services__item-inner {
    min-height: 255px;
  }
  .project .container {
    padding: 0 150px;
    max-width: 1440px;
  }
  .project__items {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .project__item-inner {
    min-height: 217px;
  }
  .project__item-img {
    margin: 0;
    width: 268px;
    min-height: 239px;
    padding: 11px 12px;
  }
  .team {
    padding: 50px 0 110px;
  }
  .team .container {
    padding: 0 150px;
    max-width: 1440px;
  }
  .team__images {
    width: 460px;
    min-height: 420px;
    margin-right: 100px;
  }
  .team__title {
    margin-top: 0;
    margin-bottom: 40px;
    padding-bottom: 34px;
  }
  .team__text {
    margin-bottom: 40px;
  }
  .team__btn {
    padding: 21px 35px;
    line-height: 18px;
  }
  .blockquots__title {
    margin-bottom: 55px;
  }
  .blockquots__slider-text {
    font-size: 36px;
    line-height: 42px;
    max-width: 870px;
    margin: 0 auto 30px;
  }
  .blockquots__slider-author {
    font-size: 24px;
  }
  .footer {
    padding: 160px 0 70px;
  }
  .footer__text {
    font-size: 24px;
    line-height: 32px;
    max-width: 640px;
  }
  .footer__social {
    margin-bottom: 80px;
  }
}
