@import 'vars';
@import 'fonts';


@media (min-width: 640px) {
  .container {
    padding: 0 30px;
  }
  .header {
    &__inner {
      min-height: 100px;
    }
  }
  .logo__link {
    margin-left: 14px;
  }
  .head {
    min-height: 386px;
  }
  .top-slider {
    &__item {
      min-height: 386px;
    }
    &__title {
      font-size: 60px;
      line-height: 60px;
      padding: 50px 0 15px;
      margin: 0 auto 30px;
    }
    &__btn {
      display: block;
      margin: 0 auto 113px;
      font-size: 18px;
      background-color: $accent;
      color: $bg-color;
      border-radius: 3px;
      padding: 16px 45px;
      border: none;
      text-transform: uppercase;
      font-weight: 500;
    }
    .slick-dots {
      bottom: 50px;
    }
    .slick-arrow {
      width: 56px;
      height: 56px;
      border: none;
      position: absolute;
      right: 0;
      z-index: 5;
      outline: none;
    }
    .slick-prev {
      background-color: $accent;
      top: calc(50% - 56px);
    }
    .slick-next {
      background-color: $bg-color;
      top: 50%;
    }
  }
  .title {
    font-size: 48px;
    line-height: 56px;
    &::after {
      width: 100px;
    }
  }
  .services {
    padding: 24px 0 0; 
    &__title {
      margin-bottom: 20px;
      padding-bottom: 0;
      &::after {
        display: none;
      }
    }
    &__descr {
      font-size: 24px;
      padding-bottom: 38px;
      margin-bottom: 31px;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        width: 100px;
        height: 8px;
        background-color: $accent;
        bottom: 0;
        margin: 0 auto;
        left: 0;
        right: 0;
      }
    }
    &__text {
      font-size: 18px;
      line-height: 24px;
    }
    &__items {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -30px;
    }
    &__item {
      width: 50%;
      &:nth-child(even) {
        border-left: none;
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
  .project {
    .container {
      padding: 0px 60px;
    }
    padding: 40px 0 20px;
    &__item-img {
      min-height: 460px;
      padding: 21px 24px;
    }
    &__item-inner {
      min-height: 417px;
    }
    &__item-link {
      font-size: 20px;
      line-height: 23px;
    }
  }
  .team {
    padding: 46px 0 53px;
    &__title {
      margin-bottom: 40px;
    }
    &__text {
      margin-bottom: 56px;
    }
    &__btn {
      font-size: 20px;
    }
  }
  .blockquots {
    &__title {
      margin-bottom: 40px;
    }
    &__slider-text {
      font-size: 32px;
      line-height: 34px;
      margin-bottom: 40px;
    }
  }
  .footer {
    text-align: left;
    padding: 100px 0 95px;
    &__logo {
      text-align: center;
    }
    &__text {
      font-size: 24px;
      line-height: 26px;
      margin-bottom: 40px;
    }
    &__social {
      margin-bottom: 40px;
      display: flex;
    }
    &__social__item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 0;
      min-height: 57px;
      min-width: 25%;
      border: 1px solid #7EBF84;
      border-left: none;
      &:last-child {
        border-right: none;
      }
    }
    &__info {
      display: flex;
      flex-wrap: wrap;
    }
    &__info-col {
      min-width: 200px;
      &:nth-child(odd) {
        margin-right: 150px;
      }
    }
    &__info-col_list {
      margin-bottom: 30px;
    }
  }
}
@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
  .logo__link {
    margin-left: 0;
  }
  .head {
    min-height: 465px;
  }
  .top-slider {
    &__item {
      min-height: 465px;
    }
    &__text {
      display: block;
      padding: 25px 0 32px;
      font-size: 18px;
      line-height: 20px;
      font-family: 'RobotoCondensed-Regular';
      font-weight: 400;
      max-width: 587px;
      margin: 0 auto;
    }
    &__title {
      padding: 87px 0 0;
      &::after {
        display: none;
      }
    }
  }
  .call {
    text-align: left;
    &__box {
      max-width: 427px;;
    }
    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__text {
      margin-bottom: 0;
    }
  }
  .services {
    padding: 50px 0 0; 
    &__title {
      margin-bottom: 30px;
    }
    &__descr {
      text-align: left;
      &::after {
        margin-left: 0;
      }
    }
    &__text {
      text-align: left;
      margin-bottom: 27px;
    }
    &__items {
      margin: 0 -40px;
    }
    &__item {
      min-height: 334px;
      &:hover {
        .services__item-inner {
          min-height: 288px;
        }
      }
    }
  }
  .project {
    .container {
      padding: 0px 53px;
    }
    padding: 80px 0 60px;
    &__title {
      margin-bottom: 80px;
    }
    &__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__item-img {
      min-height: 282px;
      width: 317px;
      padding: 12px 14px;
    }
    &__item-inner {
      min-height: 256px;
    }
    &__item-link {
      padding: 30px 0;
    }
  }
  .team {
    padding: 40px 0 48px;
    text-align: left;
    &__inner {
      display: flex;
    }
    &__images {
      margin-bottom: 0;
      width: 240px;
      height: 100%;
      margin-right: 34px;
    }
    &__title {
      margin-bottom: 7px;
      font-size: 36px;
      line-height: 38px;
      padding-bottom: 28px;
      &::after {
        margin-left: 0;
      }
    }
    &__text {
      margin-bottom: 30px;
      font-size: 18px;
    }
    &__btn {
      font-size: 18px;
    }
  }
  .footer {
    padding: 115px 0 25px;
    &__text {
      font-size: 36px;
      line-height: 36px;
    }
    &__social {
      margin-bottom: 70px;
    }
    &__social__item {
      min-height: 70px;
    }
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
  }
  .top-slider {
    &__item {
      min-height: 618px;
    }
    &__title {
      padding-top: 101px;
      font-size: 84px;
      line-height: 84px;
      letter-spacing: 2px;
    }
    .slick-dots {
      bottom: 80px;
    }
  }
  .head {
    min-height: 618px;
  }
  .call {
    &__box {
      max-width: 470px;
    }
  }
  .services {
    padding: 52px 0 0; 
    &__title {
      margin-bottom: 60px;
    }
    &__descr {
      padding-bottom: 46px;
      margin-bottom: 40px;
    }
    &__text {
      margin-bottom: 32px;
      max-width: 608px;
    }
    &__item {
      width: 25%;
      min-height: 292px;
      &:nth-child(2), &:nth-child(6) {
        border-right: none;
      }
      &:hover {
        .services__item-inner {
          min-height: 255px;
        }
      }
    }
  }
  .project {
    &__items {
      justify-content: center;
    }
    &__item-img {
      margin: 0 12px;
    }
  }
  .team {
    padding: 80px 0;
    &__images {
      width: 395px;
      min-height: 380px;
      margin-right: 60px;
    }
    &__title {
      font-size: 48px;
      line-height: 56px;
      margin-top: 11px;
      margin-bottom: 19px;
      padding-bottom: 23px;
    }
    &__text {
      line-height: 24px;
      margin-bottom: 19px;
    }
    &__btn {
      padding: 21px 35px;
      line-height: 18px;
    }
  }
  .blockquots {
    padding: 90px 0 130px;
    &__slider-text {
      line-height: 37px;
      margin-bottom: 45px;
    }
    &__slider-author {
      line-height: 28px;
      margin-bottom: 89px;
    }
  }
  .footer {
    padding: 160px 0 85px; 
    &__text {
      margin-bottom: 80px;
    }
    &__social {
      margin-bottom: 57px;
    }
    &__info {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
    &__info-col {
      &:nth-child(odd) {
        margin: 0;  
      }
    }
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
  .menu__btn {
    margin-right: 90px;
  }
  .head {
    min-height: 668px;
  }
  .top-slider {
    &__item {
      min-height: 668px;
    }
    &__title {
      font-size: 96px;
      line-height: 96px;
      padding-top: 107px;
    }
    &__text {
      font-size: 24px;
      line-height: 26px;
      max-width: 886px;
    }
    .slick-arrow {
      width: 70px;
      height: 70px;
    }
    .slick-prev {
      top: calc(50% - 70px);
    }
    .slick-next {
      top: 50%;
    }
  }
  .call {
    &__inner {
      padding: 0 80px;
    }
    &__box {
      max-width: 540px;
    }
  }
  .services {
    .container {
      max-width: 1440px;
      padding: 0;
    }
    padding: 0;
    &__inner {
      display: flex;
      justify-content: space-between;
    }
    &__head {
      min-width: 351px;
      margin-right: 102px;
      margin-left: 62px;
    } 
    &__title {
      margin: 90px 0 70px;
      text-align: left;
    }
    &__descr {
      padding-bottom: 38px;
      margin-bottom: 35px;
    }
    &__items {
      margin: 0;
    }
    &__item {
      width: 230px;
      height: 292px;
      &:hover {
        .services__item-inner {
          min-height: 255px;
        }
      }
    }
  }
  .project {
    .container {
      padding: 0 150px;
      max-width: 1440px;
    }
    &__items {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
    &__item-inner {
      min-height: 217px;
    }
    &__item-img {
      margin: 0;
      width: 268px;
      min-height: 239px;
      padding: 11px 12px;
    }
  }
  .team {
    .container {
      padding: 0 150px;
      max-width: 1440px;
    }
    padding: 50px 0 110px;
    &__images {
      width: 460px;
      min-height: 420px;
      margin-right: 100px;
    }
    &__title {
      margin-top: 0;
      margin-bottom: 40px;
      padding-bottom: 34px;
    }
    &__text {
      margin-bottom: 40px;
    }
    &__btn {
      padding: 21px 35px;
      line-height: 18px;
    }
  }
  .blockquots {
    &__title {
      margin-bottom: 55px;
    }
    &__slider-text {
      font-size: 36px;
      line-height: 42px;
      max-width: 870px;
      margin: 0 auto 30px;
    }
    &__slider-author {
      font-size: 24px;
    }
  }
  .footer {
    padding: 160px 0 70px; 
    &__text {
      font-size: 24px;
      line-height: 32px; 
      max-width: 640px; 
    }
    &__social {
      margin-bottom: 80px;
    }
  }
}